.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);

  &__menu {

  }

  &__menu-item {
    padding: 10px 20px;
  }

  &__active {
    text-decoration: underline;
  }
}
