$primary: #038FD6;
$primary-color: #303133;

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
}
::selection {
    background: rgba(0, 144, 215, 0.55); /* WebKit/Blink Browsers */
    color: white;
}
::-moz-selection {
    background: rgba(0, 144, 215, 0.55); /* WebKit/Blink Browsers */
    color: white;
}


select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
