<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <% for (let item of htmlWebpackPlugin.files.js) { %>
    <link rel="preload" href="<%= item %>" as="script">
    <% } %>

    <% for (let item of htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= item %>" as="style">
    <% } %>

</head>
<body>

<main role="main" class="home">
    <section class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start wow fadeInUp animated"
                 data-wow-duration="1s" data-wow-delay="0s">
                <h1 class="home__logo">Front End, JavaScript Developer - Bilal Uçar</h1>
            </div>
            <div class="col-12 col-md-8 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s">
                <p>Merhaba,</p>

                <p>Ben Bilal Uçar. Testinium 'da Front End Developer olarak çalışıyorum. Yaptığım projenin insanlar
                    tarafından sevilip kullanıldığını görmek, "Abi adamlar yapmış!" gibi cümleler duymak en büyük
                    motivasyon kaynağım.</p>

                <p>Çalıştığım bazı firma ve projeler:</p>
            </div>
        </div>
    </section>
    <section class="container-fluid wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="row home__work py-5">
            <div class="col-6 col-md-3 p-0">
                <a href="" class="home__work__item">
                    <img class="img-fluid" src="/images/testinium.png" alt="Testinium"/>
                    <span>Detaylar</span>
                </a>
            </div>
            <div class="col-6 col-md-3 p-0">
                <a href="#" class="home__work__item">
                    <img class="img-fluid" src="/images/dashboard.png" alt="Qa-Dashboard"/>
                    <span>Detaylar</span>
                </a>
            </div>
            <div class="col-6 col-md-3 p-0">
                <a href="" class="home__work__item">
                    <img class="img-fluid" src="/images/loadium.png" alt="Loadium"/>
                    <span>Detaylar</span>
                </a>
            </div>
            <div class="col-6 col-md-3 p-0">
                <a href="" class="home__work__item">
                    <img class="img-fluid" src="/images/teknovol.png" alt="Teknovol"/>
                    <span>Detaylar</span>
                </a>
            </div>
        </div>
    </section>
    <section class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3 class="home__title wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0s">
                    Yeteneklerim</h3>
            </div>
            <div class="col-12 col-md-8 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s">
                <h4>Front End Development</h4>
                <p>
                    Güncel teknolojileri kullanarak geliştirme yapıyorum ve en basit yöntemle karmaşık problemleri
                    çözmeye
                    çalışıyorum. Güncel teknolojileri deniyorum ve diğer teknolojilerle arasındaki performans
                    ve kullanım farklarıyla ilgileniyorum. Temiz kod yazmayı seviyorum. Bir projenin düzenli yürümesi
                    için Agile
                    yaklaşımlarının uygulanması taraftarıyım.</p>
                <div class="row -small">
                    <div class="col-12 col-sm-6">
                        <p class="home__list-title bold">Yeteneklerim</p>
                        <ul>
                            <li><p>HTML5, CSS, Bootstrap</p></li>
                            <li><p>JavaScript, jQuery</p></li>
                            <li><p>Angular 2+, React</p></li>
                            <li><p>SASS, LESS</p></li>
                            <li><p>Webpack</p></li>
                            <li><p>WordPress</p></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p class="home__list-title bold">&nbsp;</p>
                        <ul>
                            <li><p>TypeScript</p></li>
                            <li><p>ES6</p></li>
                            <li><p>Git (GitHub, GitLab)</p></li>
                            <li><p>WebStorm</p></li>
                            <li><p>JIRA</p></li>
                            <li><p>Agile & Scrum</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3 class="home__title wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0s">Hakkımda</h3>
            </div>
            <div class="col-12 col-md-8 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s">
                <p>Bilgisayarla küçük yaşlarda tanıştım. Bilgisayarı küçükken ödev yapmak, müzik dinlemek ve oyun
                    oynamak için
                    kullansam da orta okulun sonlarında artık web sitesi kurmayı öğrenip kendime web siteleri yapmaya
                    başladım.
                    İşin en eğlenceli tarafı ücretsiz siteler alıp (tr.gg) içerisine kayan yazı, iframe gibi HTML kodlar
                    yapıştırmaktı.</p>

                <p>Üniversiteyi Süleyman Demirel Üniversitesi, Bilgisayar Mühendisliği bölümünde okudum. Burada farklı
                    programlama
                    dilleri ve teknolojilerle uğraştık. Üniversite okurken sektörle alakalı farklı eğitimlere ve
                    etkinliklere katılmaya çalıştım.</p>

                <p>Üniversite bittikten sonra staj yaptığım yer olan, eski adıyla Saha Bilgi Teknolojileri 'nde
                    çalışmaya başladım ve
                    hala çalışmaktayım.</p>
            </div>
        </div>
    </section>
    <section class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3 class="home__title wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0s">İletişim</h3>
            </div>
            <div class="col-12 col-md-8 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s">
                <p>Benimle iletişime geçmek istiyorsanız, aşağıdaki iletişim seçeneklerinden birini kullanabilirsiniz.
                    Size en kısa zamanda yanıt vermeye çalışacağım.</p>
                <p><a href="mailto:mail@bilalucar.com.tr">mail@bilalucar.com.tr</a></p>
                <p><a href="tel:+905398651530"
                      class="bold">+90 539 865 1530</a></p>
                <p>Ataşehir/İstanbul</p>
            </div>
        </div>
    </section>
    <footer class="container wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="row">
            <div class="col-full">
                <div class="seperator"></div>
            </div>
            <div class="col-12 col-md-4">
                <p>© 2019 - Bilal Uçar</p>
            </div>
            <div class="col-12 col-md-8">
                <p><a href="https://github.com/bilalucar" rel="nofollow">GitHub</a>
                    <span> • </span>
                    <a href="https://www.linkedin.com/in/bilalucar" rel="nofollow">LinkedIn</a>
                </p>
            </div>
        </div>
    </footer>
</main>

<% for (let item of htmlWebpackPlugin.files.css) { %>
<link rel="stylesheet" href="<%= item %>">
<% } %>

<% for (let item of htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= item %>" defer="defer"></script>
<% } %>
</body>
</html>
