<footer class="container wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s"
        style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="row">
        <div class="col-full">
            <div class="seperator"></div>
        </div>
        <div class="col-12 col-md-4">
            <p>Copyright © 2019 Bilal Uçar.</p>
        </div>
        <div class="col-12 col-md-8">
            <p>
                <a href="https://github.com/bilalucar" rel="nofollow">GitHub</a>
                <span> • </span>
                <a href="https://www.linkedin.com/in/bilalucar" rel="nofollow">LinkedIn</a>
                <span> • </span>
                <a href="https://bilalucar.com.tr/blog" rel="nofollow">Blog</a>
            </p>
        </div>
    </div>
</footer>
