<div id="header" class="header">
    <div class="header__menu">
        <a id="home" class="header__menu-item" href="/">Anasayfa</a>
        <a id="portfolio" class="header__menu-item" href="/portfolyo">Portfolyo</a>
        <a class="header__menu-item" href="/blog">Blog</a>
    </div>
</div>
