<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.meta.author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <% for (let item of htmlWebpackPlugin.files.js) { %>
    <link rel="preload" href="<%= item %>" as="script">
    <% } %>

    <% for (let item of htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= item %>" as="style">
    <% } %>

    <!-- JSON LD Data -->
    <%= require('ejs-loader!../jsonld/_home.ejs')() %>

</head>
<body>

<!-- JSON LD Data -->
<%= require('ejs-loader!../components/_header.ejs')() %>

<main role="main" class="home">
    <section class="container">
        <div id="teknovol" class="row py-5">
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start wow fadeInUp animated"
                 data-wow-duration="1s" data-wow-delay="0s">
                <div>
                    <img class="img-fluid" src="/images/teknovol.png" alt="Teknovol"/>
                </div>
            </div>
            <div class="col-12 col-md-8 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s">
                <p><a href="https://teknovol.com.tr" target="_blank">Teknovol</a>,
                  web tasarım, SEM (Arama Motoru Reklamları), SEO (Arama Motoru Optimizasyonu), sosyal medya yönetimi,
                  sosyal medya reklamları, içerik stratejisi oluşturma ve bu oluşturulan stratejiler pazarlama bütçeleri
                  yönetimi gibi birçok alanda çalışmaktadır.</p>

                <p>Teknovol 'de öğrencilik sürecimde part-time Web Developer olarak birçok müşteri için responsive web tasarım, SEO çalışması ve sosyal medya
                yönetimi yaptım.</p>

                <p>Teknovol 'ün projesi olan Webmaster.Kitchen 'in geliştirilmesi konusunda detek oldum. Ayrıca yeni teknolojiler araştırmak ve
                  öğrenmek için front-end, web development alanlarında birçok makale yazdım.</p>

                <p>Webmaster.Kitchen ekibiyle beraber Webmaster Meetup organizasyonu yaptık. Webmaster Meetup her ay web dünyasına, web teknolojilerine ilgi duyan profesyonellerin bir araya geldiği aylık buluşmalar serisidir.
                  Her buluşma özel bir konu ve gündeme sahiptir. Konunun uzmanları tarafından anlatımlar yapılarak etkileşimli bir sohbet ortamında anlatımlar gerçekleştirilir.</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%= require('ejs-loader!../components/_footer.ejs')() %>
</main>

<% for (let item of htmlWebpackPlugin.files.css) { %>
<link rel="stylesheet" href="<%= item %>">
<% } %>

<% for (let item of htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= item %>" defer="defer"></script>
<% } %>
</body>
</html>
